body{
    background-color: #dcdcdc;
}
.header{
background-color: #808080;
}
.title{
    color: #ffffff;
}
.content{
    margin-top: 2px;
}
.fdivl{
    float: left;
}

.content{
    margin-bottom: 52px;
}
#content{
    position: absolute;
    -webkit-overflow-scrolling: touch;
 /*margin: 10px auto;*/
    overflow: auto;
}
.white{
    color: #ffffff;
}

.pagerbtn{
    position: absolute;
    width: 95%;
    text-align: right;
    height: 28px;
}
.pagerbtn a{
    width: 75px;
    margin: 5px;
    float: left;
    display: block;
    text-align: center;
    background-color:#ffffff;
}
#newscontent{
    width:100%;
    overflow: hidden;
    text-align: justify;
}
#newscontent img{
}