body{
    background-color: #dcdcdc;
}
.header{
background-color: #808080;
}
.title{
    color: #ffffff;
}
.content{
    margin-top: 2px;
}
.fdivl{
    float: left;
}

#content{
    position: absolute;
    -webkit-overflow-scrolling: touch;
 margin: 10px auto;
    overflow: auto;
}
.white{
    color: #ffffff;
}

.pagerbtn{
 margin: 10px;
    width:80px;
    text-align: center;
    border: 1px solid #dcdcdc;
    background-color: floralwhite;
    float: right;
}