body{
    background-color: #dcdcdc;
}
.header{
background-color: #808080;
}
.title{
    color: #ffffff;
}
.content{
    margin-top: 5px;
    /*margin-bottom: 44px;*/
}
.fdivl{
    float: left;
}
li{
    list-sytle:none;
}
/*.content{*/
    /*margin-bottom: 44px;*/
/*}*/
/*#content{*/
    /*position: absolute;*/
    /*-webkit-overflow-scrolling: touch;*/
 /*margin: 10px auto;*/
    /*overflow: auto;*/
/*}*/
.white{
    color: #ffffff;
}

.pagerbtn{
    position: absolute;
    width: 95%;
    text-align: right;
    height: 28px;
}
.pagerbtn a{
    width: 75px;
    margin: 5px;
    float: left;
    display: block;
    text-align: center;
    background-color:#ffffff;
}
#newscontent{
    width:100%;
    overflow: hidden;
    text-align: justify;
}
#newscontent img{
}
header.bar.bar-nav {
    -webkit-transform: translateZ(0);
}
/*FOREST ADD NEW*/

.all_white_color{
    background-color: white;
    text-align: center;
    height: 98%;
    color: #000000;
}

.div_content{
    width: 80%;!important;
    height:auto;
    text-align: center;
    margin: 20px auto ;
}
.div_content_child{
    width:50%;
    float: left;!important;
    text-align: center;
}
.treeimg{
    width: 85%;
    text-align: center;
    /*height: 75%;*/
}
.treeimg img{
    width: 100%;
}

.treespan{
    text-align: left;
    font-size: 1em;
    color: #000000;!important;
    padding-left: 15px;
}

